<div class="panel panel-default">
    <div class="panel-heading"> <h2>{{ comics.title }}</h2></div>
    <div class="panel-body">
        <div class="col-md-12 heroes-description">
            <span ng-bind-html="comics.description"></span>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>Format : </label><p>{{ comics.format }}</p>
                <label>Nombre de pages : </label><p>{{ comics.pageCount }}</p>
                <label>Prix : </label><p>{{ comics.prices[0].price }} $</p>

                <label>Personnages concernés : </label>
                <ul>
                    <li ng-repeat="character in comics.characters.items">
                        <a ng-click="getHeroDetail(character)">{{ character.name }}</a>
                    </li>
                </ul>
            </div>

            <a data-toggle="modal" data-target="#serie-modal">Sample</a>

            <div class="col-md-6">
                <img class="heroes-portrait" ng-src="{{comics.thumbnail.path}}.{{comics.thumbnail.extension}}"/>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" data-backdrop="false" id="serie-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>{{ comics.title }} - Sample</h4>
            </div>
            <div class="modal-body">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div ng-repeat="image in comics.images" ng-class="{'active' : $first}" class="item">
                            <img style="margin:auto" ng-src="{{ image.path }}.{{ image.extension }}" >
                            <div class="carousel-caption">
                            </div>
                        </div>
                    </div>
                    <a ng-click="$event.preventDefault()" href="#carousel-example-generic" class="left carousel-control" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a ng-click="$event.preventDefault()" href="#carousel-example-generic" class="right carousel-control" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


