<div class="panel panel-default">
    <div class="panel-heading"> <h2>Welcome to Marvel universe!</h2></div>
    <div class="panel-body">
		<p>
			Welcome to Marvel Universe ! </br>
			To find an hero you have to search him by his name.</br>
			But only with letter that matches the begin of his name.
		</p>
		<form name="searchForm" ng-submit="searchHeroes()">
			<input type="text" ng-model="search"/>
			<input type="submit" value="Search"/>
		</form>
		<div>
			<ul>
				<li class="heroes-list" ng-repeat="hero in heroes">
					<img ng-click="goToHeroDetail(hero.id)" title="{{hero.name}}" class="img-thumbnail" ng-src="{{hero.thumbnail.path}}.{{hero.thumbnail.extension}}" />
				</li>
			</ul>
		</div>
</div>


